*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    background-color: rgb(180, 180, 35) !important; 
}
.container{
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;    
}
.headerInner{
    background-image: url(./images/pokemon.png);
    background-repeat: no-repeat;    
    padding: 145px;
    background-size: 1150px;
}
.mainForm{
    margin: 180px auto 0;
    background-color: #2e272763;
    border-radius: 10px;
}